:root {
  --clr-white-pri: #FFF;
  --clr-light-grey: #F4F6FA;
  --clr-grey-navy: #626C7F;
  --clr-dark-navy: #313E51;
  --clr-purple-pri: #A729F5;
  --font-size-head-lg: 40px;
  --font-size-head-sm: 18px;
  --font-size-body-sm: 14px;
  --line-height-body-sm: 150%;
}

@media screen and (min-width: 481px) {
  :root {
    --font-size-head-lg: 64px;
    --font-size-head-sm: 28px;
    --font-size-body-sm: 12px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--clr-dark-navy);
  background-color: var(--clr-light-grey);
  font-family: 'Rubik';
}

#app {
  width: 100%;
}
