:root {
  --clr-white-pri: #FFF;
  --clr-light-grey: #F4F6FA;
  --clr-light-bluish: #ABC1E1;
  --clr-navy: #3B4D66;
  --clr-grey-navy: #626C7F;
  --clr-dark-navy: #313E51;
  --clr-purple-pri: #A729F5;
  --clr-green-pri: #26D782;
  --clr-red-pri: #EE5454;
  --font-size-display: 88px;
  --font-size-head-lg: 40px;
  --font-size-head-md: 20px;
  --font-size-head-sm: 18px;
  --font-size-body-md: 18px;
  --font-size-body-sm: 14px;
  --line-height-head-md: 24px;
  --line-height-body-sm: 150%;
}

@media screen and (min-width: 481px) {
  :root {
    --font-size-display: 144px;
    --font-size-head-lg: 64px;
    --font-size-head-md: 36px;
    --font-size-head-sm: 28px;
    --font-size-body-md: 24px;
    --font-size-body-sm: 20px;
    --line-height-head-md: 43px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text-color-pri: var(--clr-dark-navy);
  --text-color-sec: var(--clr-grey-navy);
  --bg-color-pri: var(--clr-white-pri);
  --bg-color-sec: var(--clr-light-grey);
  --progress-bg-pri: var(--clr-white-pri);
  color: var(--text-color-pri);
  background-color: var(--bg-color-sec);
  font-family: 'Rubik';
  background-image: url(/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

html:has(main[data-theme="dark"]) {
  --text-color-pri: var(--clr-white-pri);
  --text-color-sec: var(--clr-light-bluish);
  --bg-color-pri: var(--clr-navy);
  --bg-color-sec: var(--clr-dark-navy);
  --progress-bg-pri: var(--clr-navy);
  background-image: url(/pattern-background-mobile-dark.svg);
}

@media screen and (min-width: 481px) {
  html {
    background-image: url(/pattern-background-tablet-light.svg);
    background-size: contain;
  }

  html:has(main[data-theme="dark"]) {
    background-image: url(/pattern-background-tablet-dark.svg);
  }
}

@media screen and (min-width: 769px) {
  html {
    background-image: url(/pattern-background-desktop-light.svg);
    background-size: cover;
  }

  html:has(main[data-theme="dark"]) {
    background-image: url(/pattern-background-desktop-dark.svg);
  }
}

#app {
  width: 100%;
}

button,
label,
label * {
  cursor: pointer;
}
